*{
    margin:0;

}
/* navigation menu */
nav{
    background-color:lightblue;
        display: flex;
        padding:0.5rem;
        justify-content: space-between;
}
nav ul{
    border:1px solid red;
}
nav ul li{
    display:inline;
    padding:25px;
      
}
nav ul li a{
    color:white;
    text-decoration: none;
   
}
.search-box{
    text-align: right;
  
} 
/* slide show images */
.slide-images{
    position:relative;
    width:100%;
    height:100vh;
}
.slide-images .slide{
    position:absolute;
    top:0;
    left:0;
       float:left;
}
.slide-images .slide .slide-images{
    width:20%;
    height:100%;
    float:left;
}
/* band styling */
.band-text {
    text-align: center;
}
.band-text h3{
    margin-bottom: 20px;
}
.member-request{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;
}

.tour-destination{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;
}