*{
    margin:0;
}
body{
    background-color: #BFD4DE;
}
/* navigation menu */
nav{
    background-color:black;
        display: flex;
        padding:0.5rem;
        justify-content: space-between;
}
nav ul li{
    display:inline;
    padding:25px;
     
}
nav ul li a{
    color:white;
    text-decoration: none;
   
}
.search-box{
    text-align: right;
    color:white;
  
} 
/* slide show images */
/* .slide-images{
    position:relative;
    width:100%;
    height:100vh;
}
.slide-images .slide{
    position:absolute;
    top:0;
    left:0;
       float:left;
}
.slide-images .slide .slide-images{
    width:20%;
    height:100%;
    float:left; */
/* } */

/* tour section */
.tour h3 {
text-align: center;
margin-bottom: 5px;
}
.tour p {
    text-align: center;
    margin-bottom: 5px;
    }

.tour-availability ul li{

}

/* band styling */
.band-text {
    text-align: center;
}
.band-text h3{
    margin-bottom: 20px;
}
.member-request{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;
}
/* tour destination */
.tour-destination{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;
}
.tour-destination h3 {
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.tour-destination button{
    background-color:black;
    color: white;
}
.tour-destination span{
    color:grey;
    font-style: italic;
}
 /* contact section */
 .contact-section h3{
     margin-top: 20px;
text-align: center;
 }
 .contact-section p{
    margin-top: 15px;
     color:grey;
     text-align: center;
 }
 .location-info {
    margin-top: 20px;
    margin-bottom: 20px;
    display:flex;
justify-content:space-around;

 }
 .location-info .chic span{
     padding:20px;
 }
 .location-info .phone span{
    padding:20px;
}
.location-info .email span{
    padding:20px;
}
/* form section */
.contact-form{
    text-align: center;
}
 /* map */
 .map-image p{
     font-size: xx-large;
margin-top: 20px;
margin-bottom: 20px;
 }
/* social icons */
.social-icons{
    margin-top: 30px;
    text-align: center;
    font-size: xx-large;
}
 
.social-icons ul li {
  
    display:inline;
    
}
.social-icons ul li a{
   
    color:grey;
}